div[data-slate-editor="true"] > ul {
  position: relative;
}

.slate-sortable-ghost {
  background-color: #ebebeb;
  border-radius: 4px;
}

.slate-sortable-ghost > * {
  opacity: 0;
}

.slate-sortable-drag {
  background-color: #f7f7f7;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 5px;
}

.slate-sortable-drag .slate-sortable-handle{
  border-left: 4px solid #f44d49;
}
.slate-sortable-handle {
  position: absolute;
  left: -25px;
  top: 2px;
  bottom: 2px;
  width: 25px;
  font-size: 0;
  border-left: 2px solid #e9e9e9;
  cursor: move;
}

h1 .slate-sortable-handle,
h2 .slate-sortable-handle,
h3 .slate-sortable-handle,
h4 .slate-sortable-handle,
h5 .slate-sortable-handle,
h6 .slate-sortable-handle {
  left: 0;
  width: 4px;
}